@import "mocha.css";

* {
  font-family: Symbols Nerd Font, Iosevka Medium, monospace;
  font-size: 16px;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background: none;
  padding: 0;
  margin: 0;
}

window#waybar.hidden {
  opacity: 0.5;
}

#waybar.empty #window {
  background: none;
}

.modules-left, .modules-center, .modules-right {
  background: @base;
  border: 3px solid @overlay;
  padding: 0px 5px;
  border-radius: 5px;
}

.modules-center {
  /* border: 3px solid @lavender; */
  margin: 0px 5px;
}

#battery,
#clock,
#tray,
#window,
#network {
  padding: 0px 4px;
}

#battery {
  color: @green;
}

@keyframes blink {
  to {
    color: @surface0;
  }
}

#battery.critical:not(.charging) {
  background-color: @red;
  color: @text;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @peach;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#workspaces button {
    color: @text;
}

#workspaces button.active {
  color: @peach;
  border-radius: 0px;
}

#window {
  color: @mauve;
}

#network {
  color: @teal;
}
#network.disconnected,
#network.disabled {
  background-color: @surface0;
  color: @text;
}

#custom-power {
  color: @red;
  margin-right: 3px;
}
